In [1]:
# import important packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from matplotlib import rcParams
import warnings

warnings.filterwarnings("ignore")

# figure size in inches
rcParams["figure.figsize"] = 10, 6
np.random.seed(42)

# Aim:
The aim of this attempt is to predict if the female patients has 0/1 outcomes, which means nondiabetic/diabetic based on their health status, by building a classification model using Decision Tree. This case is entirely based on classification model as the target variable is nondiabetic(0) or diabetic(1).

In [2]:
df = pd.read_csv('pima_indians_diabetes.csv')
print(df.isnull().sum())
print("total number of Rows and Columns in the dataframe: " , df.shape)
unique_values = pd.Series({col: df[col].unique() for col in df})
unique_values.tolist()

time_pregnant_no              0
plasma_concentration          0
diastolic_blood_pressure      0
triceps_skinfold_thickness    0
serum_insulin                 0
bmi                           0
diabetes_pedigree             0
age                           0
class                         0
dtype: int64
total number of Rows and Columns in the dataframe:  (768, 9)

[array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14],
       dtype=int64),
 array([148,  85, 183,  89, 137, 116,  78, 115, 197, 125, 110, 168, 139,
        189, 166, 100, 118, 107, 103, 126,  99, 196, 119, 143, 147,  97,
        145, 117, 109, 158,  88,  92, 122, 138, 102,  90, 111, 180, 133,
        106, 171, 159, 146,  71, 105, 101, 176, 150,  73, 187,  84,  44,
        141, 114,  95, 129,  79,   0,  62, 131, 112, 113,  74,  83, 136,
         80, 123,  81, 134, 142, 144,  93, 163, 151,  96, 155,  76, 160,
        124, 162, 132, 120, 173, 170, 128, 108, 154,  57, 156, 153, 188,
        152, 104,  87,  75, 179, 130, 194, 181, 135, 184, 140, 177, 164,
         91, 165,  86, 193, 191, 161, 167,  77, 182, 157, 178,  61,  98,
        127,  82,  72, 172,  94, 175, 195,  68, 186, 198, 121,  67, 174,
        199,  56, 169, 149,  65, 190], dtype=int64),
 array([ 72,  66,  64,  40,  74,  50,   0,  70,  96,  92,  80,  60,  84,
         30,  88,  90,  94,  76,  82,  75,  58,  78,  68, 110,  56,  62,
         85,  86,  48,  44,  65, 108,  55, 122,  54,  52,  98, 104,  95,
         46, 102, 100,  61,  24,  38, 106, 114], dtype=int64),
 array([35, 29,  0, 23, 32, 45, 19, 47, 38, 30, 41, 33, 26, 15, 36, 11, 31,
        37, 42, 25, 18, 24, 39, 27, 21, 34, 10, 60, 13, 20, 22, 28, 54, 40,
        51, 56, 14, 17, 50, 44, 12, 46, 16,  7, 52, 43, 48,  8, 49, 63, 99],
       dtype=int64),
 array([  0,  94, 168,  88, 543, 846, 175, 230,  83,  96, 235, 146, 115,
        140, 110, 245,  54, 192, 207,  70, 240,  82,  36,  23, 300, 342,
        304, 142, 128,  38, 100,  90, 270,  71, 125, 176,  48,  64, 228,
         76, 220,  40, 152,  18, 135, 495,  37,  51,  99, 145, 225,  49,
         50,  92, 325,  63, 284, 119, 204, 155, 485,  53, 114, 105, 285,
        156,  78, 130,  55,  58, 160, 210, 318,  44, 190, 280,  87, 271,
        129, 120, 478,  56,  32, 744, 370,  45, 194, 680, 402, 258, 375,
        150,  67,  57, 116, 278, 122, 545,  75,  74, 182, 360, 215, 184,
         42, 132, 148, 180, 205,  85, 231,  29,  68,  52, 255, 171,  73,
        108,  43, 167, 249, 293,  66, 465,  89, 158,  84,  72,  59,  81,
        196, 415, 275, 165, 579, 310,  61, 474, 170, 277,  60,  14,  95,
        237, 191, 328, 250, 480, 265, 193,  79,  86, 326, 188, 106,  65,
        166, 274,  77, 126, 330, 600, 185,  25,  41, 272, 321, 144,  15,
        183,  91,  46, 440, 159, 540, 200, 335, 387,  22, 291, 392, 178,
        127, 510,  16, 112], dtype=int64),
 array([33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31. , 35.3, 30.5,  0. , 37.6,
        38. , 27.1, 30.1, 25.8, 30. , 45.8, 29.6, 43.3, 34.6, 39.3, 35.4,
        39.8, 29. , 36.6, 31.1, 39.4, 23.2, 22.2, 34.1, 36. , 31.6, 24.8,
        19.9, 27.6, 24. , 33.2, 32.9, 38.2, 37.1, 34. , 40.2, 22.7, 45.4,
        27.4, 42. , 29.7, 28. , 39.1, 19.4, 24.2, 24.4, 33.7, 34.7, 23. ,
        37.7, 46.8, 40.5, 41.5, 25. , 25.4, 32.8, 32.5, 42.7, 19.6, 28.9,
        28.6, 43.4, 35.1, 32. , 24.7, 32.6, 43.2, 22.4, 29.3, 24.6, 48.8,
        32.4, 38.5, 26.5, 19.1, 46.7, 23.8, 33.9, 20.4, 28.7, 49.7, 39. ,
        26.1, 22.5, 39.6, 29.5, 34.3, 37.4, 33.3, 31.2, 28.2, 53.2, 34.2,
        26.8, 55. , 42.9, 34.5, 27.9, 38.3, 21.1, 33.8, 30.8, 36.9, 39.5,
        27.3, 21.9, 40.6, 47.9, 50. , 25.2, 40.9, 37.2, 44.2, 29.9, 31.9,
        28.4, 43.5, 32.7, 67.1, 45. , 34.9, 27.7, 35.9, 22.6, 33.1, 30.4,
        52.3, 24.3, 22.9, 34.8, 30.9, 40.1, 23.9, 37.5, 35.5, 42.8, 42.6,
        41.8, 35.8, 37.8, 28.8, 23.6, 35.7, 36.7, 45.2, 44. , 46.2, 35. ,
        43.6, 44.1, 18.4, 29.2, 25.9, 32.1, 36.3, 40. , 25.1, 27.5, 45.6,
        27.8, 24.9, 25.3, 37.9, 27. , 26. , 38.7, 20.8, 36.1, 30.7, 32.3,
        52.9, 21. , 39.7, 25.5, 26.2, 19.3, 38.1, 23.5, 45.5, 23.1, 39.9,
        36.8, 21.8, 41. , 42.2, 34.4, 27.2, 36.5, 29.8, 39.2, 38.4, 36.2,
        48.3, 20. , 22.3, 45.7, 23.7, 22.1, 42.1, 42.4, 18.2, 26.4, 45.3,
        37. , 24.5, 32.2, 59.4, 21.2, 26.7, 30.2, 46.1, 41.3, 38.8, 35.2,
        42.3, 40.7, 46.5, 33.5, 37.3, 30.3, 26.3, 21.7, 36.4, 28.5, 26.9,
        38.6, 31.3, 19.5, 20.1, 40.8, 23.4, 28.3, 38.9, 57.3, 35.6, 49.6,
        44.6, 24.1, 44.5, 41.2, 49.3, 46.3]),
 array([0.627, 0.351, 0.672, 0.167, 2.288, 0.201, 0.248, 0.134, 0.158,
        0.232, 0.191, 0.537, 1.441, 0.398, 0.587, 0.484, 0.551, 0.254,
        0.183, 0.529, 0.704, 0.388, 0.451, 0.263, 0.205, 0.257, 0.487,
        0.245, 0.337, 0.546, 0.851, 0.267, 0.188, 0.512, 0.966, 0.42 ,
        0.665, 0.503, 1.39 , 0.271, 0.696, 0.235, 0.721, 0.294, 1.893,
        0.564, 0.586, 0.344, 0.305, 0.491, 0.526, 0.342, 0.467, 0.718,
        0.962, 1.781, 0.173, 0.304, 0.27 , 0.699, 0.258, 0.203, 0.855,
        0.845, 0.334, 0.189, 0.867, 0.411, 0.583, 0.231, 0.396, 0.14 ,
        0.391, 0.37 , 0.307, 0.102, 0.767, 0.237, 0.227, 0.698, 0.178,
        0.324, 0.153, 0.165, 0.443, 0.261, 0.277, 0.761, 0.255, 0.13 ,
        0.323, 0.356, 0.325, 1.222, 0.179, 0.262, 0.283, 0.93 , 0.801,
        0.207, 0.287, 0.336, 0.247, 0.199, 0.543, 0.192, 0.588, 0.539,
        0.22 , 0.654, 0.223, 0.759, 0.26 , 0.404, 0.186, 0.278, 0.496,
        0.452, 0.403, 0.741, 0.361, 1.114, 0.457, 0.647, 0.088, 0.597,
        0.532, 0.703, 0.159, 0.268, 0.286, 0.318, 0.272, 0.572, 0.096,
        1.4  , 0.218, 0.085, 0.399, 0.432, 1.189, 0.687, 0.137, 0.637,
        0.833, 0.229, 0.817, 0.204, 0.368, 0.743, 0.722, 0.256, 0.709,
        0.471, 0.495, 0.18 , 0.542, 0.773, 0.678, 0.719, 0.382, 0.319,
        0.19 , 0.956, 0.084, 0.725, 0.299, 0.244, 0.745, 0.615, 1.321,
        0.64 , 0.142, 0.374, 0.383, 0.578, 0.136, 0.395, 0.187, 0.905,
        0.15 , 0.874, 0.236, 0.787, 0.407, 0.605, 0.151, 0.289, 0.355,
        0.29 , 0.375, 0.164, 0.431, 0.742, 0.514, 0.464, 1.224, 1.072,
        0.805, 0.209, 0.666, 0.101, 0.198, 0.652, 2.329, 0.089, 0.645,
        0.238, 0.394, 0.293, 0.479, 0.686, 0.831, 0.582, 0.446, 0.402,
        1.318, 0.329, 1.213, 0.427, 0.282, 0.143, 0.38 , 0.284, 0.249,
        0.926, 0.557, 0.092, 0.655, 1.353, 0.612, 0.2  , 0.226, 0.997,
        0.933, 1.101, 0.078, 0.24 , 1.136, 0.128, 0.422, 0.251, 0.677,
        0.296, 0.454, 0.744, 0.881, 0.28 , 0.259, 0.619, 0.808, 0.34 ,
        0.434, 0.757, 0.613, 0.692, 0.52 , 0.412, 0.84 , 0.839, 0.156,
        0.215, 0.326, 1.391, 0.875, 0.313, 0.433, 0.626, 1.127, 0.315,
        0.345, 0.129, 0.527, 0.197, 0.731, 0.148, 0.123, 0.127, 0.122,
        1.476, 0.166, 0.932, 0.343, 0.893, 0.331, 0.472, 0.673, 0.389,
        0.485, 0.349, 0.279, 0.346, 0.252, 0.243, 0.58 , 0.559, 0.302,
        0.569, 0.378, 0.385, 0.499, 0.306, 0.234, 2.137, 1.731, 0.545,
        0.225, 0.816, 0.528, 0.509, 1.021, 0.821, 0.947, 1.268, 0.221,
        0.66 , 0.239, 0.949, 0.444, 0.463, 0.803, 1.6  , 0.944, 0.196,
        0.241, 0.161, 0.135, 0.376, 1.191, 0.702, 0.674, 1.076, 0.534,
        1.095, 0.554, 0.624, 0.219, 0.507, 0.561, 0.421, 0.516, 0.264,
        0.328, 0.233, 0.108, 1.138, 0.147, 0.727, 0.435, 0.497, 0.23 ,
        0.955, 2.42 , 0.658, 0.33 , 0.51 , 0.285, 0.415, 0.381, 0.832,
        0.498, 0.212, 0.364, 1.001, 0.46 , 0.733, 0.416, 0.705, 1.022,
        0.269, 0.6  , 0.571, 0.607, 0.17 , 0.21 , 0.126, 0.711, 0.466,
        0.162, 0.419, 0.63 , 0.365, 0.536, 1.159, 0.629, 0.292, 0.145,
        1.144, 0.174, 0.547, 0.163, 0.738, 0.314, 0.968, 0.409, 0.297,
        0.525, 0.154, 0.771, 0.107, 0.493, 0.717, 0.917, 0.501, 1.251,
        0.735, 0.804, 0.661, 0.549, 0.825, 0.423, 1.034, 0.16 , 0.341,
        0.68 , 0.591, 0.3  , 0.121, 0.502, 0.401, 0.601, 0.748, 0.338,
        0.43 , 0.892, 0.813, 0.693, 0.575, 0.371, 0.206, 0.417, 1.154,
        0.925, 0.175, 1.699, 0.682, 0.194, 0.4  , 0.1  , 1.258, 0.482,
        0.138, 0.593, 0.878, 0.157, 1.282, 0.141, 0.246, 1.698, 1.461,
        0.347, 0.362, 0.393, 0.144, 0.732, 0.115, 0.465, 0.649, 0.871,
        0.149, 0.695, 0.303, 0.61 , 0.73 , 0.447, 0.455, 0.133, 0.155,
        1.162, 1.292, 0.182, 1.394, 0.217, 0.631, 0.88 , 0.614, 0.332,
        0.366, 0.181, 0.828, 0.335, 0.856, 0.886, 0.439, 0.253, 0.598,
        0.904, 0.483, 0.565, 0.118, 0.177, 0.176, 0.295, 0.441, 0.352,
        0.826, 0.97 , 0.595, 0.317, 0.265, 0.646, 0.426, 0.56 , 0.515,
        0.453, 0.785, 0.734, 1.174, 0.488, 0.358, 1.096, 0.408, 1.182,
        0.222, 1.057, 0.766, 0.171]),
 array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
        22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
        36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
        68], dtype=int64),
 array([1, 0], dtype=int64)]

In [3]:
df

,time_pregnant_no,plasma_concentration,diastolic_blood_pressure,triceps_skinfold_thickness,serum_insulin,bmi,diabetes_pedigree,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# PLEASE NOTE: According to science, If there is over insulin in the body, there is a high chance of diabetes in patients. So depending upon some of the data shown below, it is clealy seen that that even though the insulin level is 0, the outcome of the patient is diabetic!!! THAT MEANS THE VALUE, 0, in the data means null values. 
Also, some of the rows in the columns, [bmi, diastolic_blood_pressure, triceps_skinfold_thickness ], show 0 values and that is impossible!!!!

ref: https://medlineplus.gov/lab-tests/insulin-in-blood/
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8306487/

In [4]:
print(((df['serum_insulin'] == 0) & (df['class'] == 1)).sum(), ": the total number of O values in the column, Serum Insulin for diabetic patients.")
print("=="*23)
print(((df['bmi'] == 0)).sum(), ": the total number of O values in the column, BMI")
print("=="*23)
print(((df['diastolic_blood_pressure'] == 0)).sum(), ": the total number of O values in the column, Blood pressure")
print("=="*23)
print(((df['triceps_skinfold_thickness'] == 0)).sum(), ": the total number of O values in the column, Skin Thickness")

138 : the total number of O values in the column, Serum Insulin for diabetic patients.
==============================================
11 : the total number of O values in the column, BMI
==============================================
35 : the total number of O values in the column, Blood pressure
==============================================
227 : the total number of O values in the column, Skin Thickness

In [5]:
# just to see the mean and the shape of the serum insulin value for the diabetic patient whose serum insulin is not equal to 0
c= df.loc[((df['serum_insulin'] != 0) & (df['class'] == 1))]
print("Mean: ", c.serum_insulin.mean())
print("Number or rows and columns:", c.shape)

Mean:  206.84615384615384
Number or rows and columns: (130, 9)

Hence, Imputer and standard scaler is required to get rid of those null values before the modeling for the numeric X variables and binary categorical y-variable.

In [6]:
df.dtypes

time_pregnant_no                int64
plasma_concentration            int64
diastolic_blood_pressure        int64
triceps_skinfold_thickness      int64
serum_insulin                   int64
bmi                           float64
diabetes_pedigree             float64
age                             int64
class                           int64
dtype: object

In [7]:
df[['bmi','serum_insulin','diastolic_blood_pressure','triceps_skinfold_thickness']] = df[['bmi','serum_insulin','diastolic_blood_pressure','triceps_skinfold_thickness']].replace(0, np.nan)
df.isnull().sum()

time_pregnant_no                0
plasma_concentration            0
diastolic_blood_pressure       35
triceps_skinfold_thickness    227
serum_insulin                 374
bmi                            11
diabetes_pedigree               0
age                             0
class                           0
dtype: int64

In [8]:
df.corr()

,time_pregnant_no,plasma_concentration,diastolic_blood_pressure,triceps_skinfold_thickness,serum_insulin,bmi,diabetes_pedigree,age,class
time_pregnant_no,1.000000,0.129459,0.214178,0.100239,0.082171,0.021719,-0.033523,0.544341,0.221898
plasma_concentration,0.129459,1.000000,0.221436,0.211354,0.580010,0.219290,0.137337,0.263514,0.466581
diastolic_blood_pressure,0.214178,0.221436,1.000000,0.226839,0.098272,0.289230,-0.002805,0.330107,0.170589
triceps_skinfold_thickness,0.100239,0.211354,0.226839,1.000000,0.184888,0.648214,0.115016,0.166816,0.259491
serum_insulin,0.082171,0.580010,0.098272,0.184888,1.000000,0.228050,0.130395,0.220261,0.303454
bmi,0.021719,0.219290,0.289230,0.648214,0.228050,1.000000,0.155382,0.025841,0.313680
diabetes_pedigree,-0.033523,0.137337,-0.002805,0.115016,0.130395,0.155382,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.330107,0.166816,0.220261,0.025841,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.170589,0.259491,0.303454,0.313680,0.173844,0.238356,1.000000

In [9]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer


# Setting the random_state argument for reproducibility
imputer = IterativeImputer(random_state=42)
imputed = imputer.fit_transform(df)
df = pd.DataFrame(imputed, columns=df.columns)
df


# ref: https://towardsdatascience.com/iterative-imputation-with-scikit-learn-8f3eb22b1a38

,time_pregnant_no,plasma_concentration,diastolic_blood_pressure,triceps_skinfold_thickness,serum_insulin,bmi,diabetes_pedigree,age,class
0,6.0,148.0,72.0,35.000000,217.942496,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.000000,72.670072,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,21.332373,265.993100,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.000000,94.000000,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.000000,168.000000,43.1,2.288,33.0,1.0
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.000000,180.000000,32.9,0.171,63.0,0.0
764,2.0,122.0,70.0,27.000000,159.132431,36.8,0.340,27.0,0.0
765,5.0,121.0,72.0,23.000000,112.000000,26.2,0.245,30.0,0.0
766,1.0,126.0,60.0,27.954931,173.265905,30.1,0.349,47.0,1.0
767,1.0,93.0,70.0,31.000000,89.373992,30.4,0.315,23.0,0.0

In [10]:
from sklearn.compose import ColumnTransformer,make_column_transformer
#%pip install -U scikit-learn
#categorical_columns=[]

numeric_columns=['bmi','serum_insulin','diastolic_blood_pressure','age', 'time_pregnant_no', 'diabetes_pedigree' , 'triceps_skinfold_thickness']     
                 

X = df.drop(columns=["class"])
y = df["class"]

ct = ColumnTransformer(
    [
        ('scaling', StandardScaler(), numeric_columns),
    ]
)

ct = make_column_transformer(
    (StandardScaler(), numeric_columns),
)

transformed = ct.fit_transform(X)



from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test=train_test_split(X,y)
RF = RandomForestClassifier(n_estimators=100).fit(X_train, y_train)

print(RF.score(X_train, y_train), 
     "Regression scores for the X-train variables, such as: 'bmi','serum_insulin','diastolic_blood_pressure','age', 'time_pregnant_no', 'diabetes_pedigree', 'triceps_skinfold_thickness' wrt y-variable, diabetis'")

# watched column transformer video for reference: https://youtu.be/to2mukSyvLk?si=QpwbIdoKrznloz-y
# https://towardsdatascience.com/iterative-imputation-with-scikit-learn-8f3eb22b1a38
# https://github.com/npradaschnor/Pima-Indians-Diabetes-Dataset/blob/master/Pima%20Indians%20Diabetes%20Dataset.ipynb

print(y.shape, 'y shape')
print(X.shape, 'X shape')

1.0 Regression scores for the X-train variables, such as: 'bmi','serum_insulin','diastolic_blood_pressure','age', 'time_pregnant_no', 'diabetes_pedigree', 'triceps_skinfold_thickness' wrt y-variable, diabetis'
(768,) y shape
(768, 8) X shape

In [11]:
score_test =RF.score(X_test, y_test)
print("Testing score: ",score_test)

Testing score:  0.71875

# ~~~~~~~~~~~~~~~~~~~~Another way:~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [12]:
# Import the necessary modules
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

# Create the pipeline with two steps: preprocessor and classifier
pipeline = Pipeline([
    ('preprocessor', StandardScaler()),
    ('classifier', RandomForestClassifier(n_estimators=100))
])

# Fit the pipeline on the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipeline.predict(X_test)
print("Training Score:", pipeline.score(X_train, y_train))
print("Testing Score:", pipeline.score(X_test, y_test))

Training Score: 1.0
Testing Score: 0.7395833333333334